:root {
	--pri: #ffffff;
	--sec: #212121;
}
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: var(--pri);
	font-family: sans-serif;
	font-size: 3rem;
}

.grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--sec);
	border-radius: 4px;
	transition: transform 0.3s ease-in-out;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 3px 0 #0009;
}

.grid-item:hover {
	transform: scale(1.02);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: minmax(180px, auto);
	gap: 20px;
	padding: 20px;
	grid-auto-flow: dense;
}

@media (min-width: 600px) {
	.wide {
		grid-column: span 2;
	}

	.tall {
		grid-row: span 2;
	}
}

.grid-item:nth-child(1),
input#img-1:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/tonin-rocodromo.jpg);
}

.grid-item:nth-child(2),
input#img-2:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/biafra-1-hueso.jpg);
}

.grid-item:nth-child(3),
input#img-3:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/clan-de-los-osos-pandemonium.jpg);
	background-position: 55% center;
}


.grid-item:nth-child(4),
input#img-4:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/gallego-cueva-mora.jpg);
}

.grid-item:nth-child(5),
input#img-5:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/guirles-campos-galvez-pascual-yelmo.jpg);
}

.grid-item:nth-child(6),
input#img-6:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/cumbre-totem.jpg);
}

.grid-item:nth-child(7),
input#img-7:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/blues-ojos-bonitos-tres-coronas.jpg);
}

.grid-item:nth-child(8),
input#img-8:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/oscar-raul-hueco-hoces2.jpg);
	background-position: 85% center;
}

.grid-item:nth-child(9),
input#img-9:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/chimenea-tortuga.jpg);
}

.grid-item:nth-child(10),
input#img-10:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/normal-caliz.jpg);
}
.grid-item:nth-child(11),
input#img-11:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/rapel-sarcofago.jpg);
}

.grid-item:nth-child(12),
input#img-12:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/mira-un-buho-principiantes.jpg);
}

.grid-item:nth-child(13),
input#img-13:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/me-pesa-hasta-el-aire-dehesilla.jpg);
	background-position: 20% 50%;
}

.grid-item:nth-child(14),
input#img-14:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/rosario-cueva-mora.jpg);
}

.grid-item:nth-child(15),
input#img-15:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/oscar-raul-hueco-hoces.jpg);
}

.grid-item:nth-child(16),
input#img-16:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/espiral-cinco-cestos.jpg);
}

.grid-item:nth-child(17),
input#img-17:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/diedro-contrafuerte-muertos.jpg);
}

.grid-item:nth-child(18),
input#img-18:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/fisura-ines-rodriguez-tres-coronas.jpg);
}

.grid-item:nth-child(19),
input#img-19:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/lucas-hueso.jpg);
}

.grid-item:nth-child(20),
input#img-20:checked ~ .modal-window {
	background-image: url(https://josetxu.com/beta/galerias/escalada/pedriza/images/capuchon-sarcofago.jpg);
}




















/* MODAL */
input.modal-launcher {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	display: none;
	z-index: 3;
}		

input.modal-launcher:checked {
	display: block;
}

.modal-window {	
	cursor: default;
	background: #F3F3F3;
	box-shadow: 0px 5px 10px 0px #333;
	position: fixed;
	z-index: 333;
	border-radius: 5px;
	display: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 80vh;
	/*overflow: hidden;*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}	

.modal-overlay {
	background: #ffffff80;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: default;
	display: none;
}	

.modal-overlay:before {
	content: "";
	background: #fff;
	position: fixed;
	width: 1em;
	height: 1em;
	right: 30px;
	top: 30px;
	border-radius: 2px;
}

.modal-overlay:after {
	content: "\002B";
	position: fixed;
	width: 0.8em;
	height: 0.8em;
	right: 30px;
	top: 30px;
	color: #333;
	font-size: 1.25em;
	line-height: 0.85em;
	text-align: center;
	transform: rotate(45deg);

}

input.modal-launcher:checked ~ .modal-window,
input.modal-launcher:checked ~ .modal-window + .modal-overlay {
	display: block;
}	
input.modal-launcher:checked:hover ~ .modal-window + .modal-overlay:before { 
	background: #333;
}
input.modal-launcher:checked:hover ~ .modal-window + .modal-overlay:after { 
	color: #fff;
}









.grid-item label {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 18px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}


.grid-item label span {
	padding: 2px 8px;
	border-radius: 2px;
	color: var(--sec);
	background: var(--pri);
	mix-blend-mode: hard-light;
	opacity: 0.5;
	position: absolute;
	right: 10px;
	bottom: 10px;
}


.grid-item label:hover span {
	transition: all 0.35s ease 0s;
	opacity: 1;
}







.modal-window:before,
.modal-window:after {
	content: "";
	font-size: 22px;
	padding: 8px 18px 8px 55px;
	border-radius: 2px;
	color: var(--sec);
	opacity: 0.85;
	margin-left: -25px;
}

input#img-1:checked ~ .modal-window:before {
	content: "Toñin (7b)";
}
input#img-2:checked ~ .modal-window:before {
	content: "Biafra (6a+/A2)";
}
input#img-3:checked ~ .modal-window:before {
	content: "El clan de los osos (A2)";
}
input#img-4:checked ~ .modal-window:before {
	content: "Gallego (V+)";
}
input#img-5:checked ~ .modal-window:before {
	content: "Guirles-Campos (6b) y Gálvez-Pascual (6c)";
}


input#img-6:checked ~ .modal-window:before {
	content: "Espolón Suroeste (6a+)";
}
input#img-7:checked ~ .modal-window:before {
	content: "El blues de los ojos bonitos (V+/6a)";
}
input#img-8:checked ~ .modal-window:before {
	content: "Oscar y Raúl (V+/6a)";
}
input#img-9:checked ~ .modal-window:before {
	content: "Chimenea (Vº)";
}
input#img-10:checked ~ .modal-window:before {
	content: "Normal (Ae)";
}


input#img-11:checked ~ .modal-window:before {
	content: "Rápel";
}
input#img-12:checked ~ .modal-window:before {
	content: "Mira un buho (V+)";
}
input#img-13:checked ~ .modal-window:before {
	content: "Me pesa hasta el aire (A2?)";
}
input#img-14:checked ~ .modal-window:before {
	content: "Rosario (V+)";
}
input#img-15:checked ~ .modal-window:before {
	content: "Oscar y Raúl I (V+/6a)";
}


input#img-16:checked ~ .modal-window:before {
	content: "Espiral (C1)";
}
input#img-17:checked ~ .modal-window:before {
	content: "Diedro (V+)";
}
input#img-18:checked ~ .modal-window:before {
	content: "Fisura Inés Rodriguez (6b)";
}
input#img-19:checked ~ .modal-window:before {
	content: "Lucas (A2/6b)";
}
input#img-20:checked ~ .modal-window:before {
	content: "El Capuchón (A1/6a)";
}








.modal-window:before {
	--icon: var(--sec);
	--dot: var(--icon) 0px 1px, #fff0 2px 100%;
	background: 
		radial-gradient(circle at 26px 15px, var(--dot)),
		radial-gradient(circle at 13px 12px, var(--dot)),
		radial-gradient(circle at 22px 12px, var(--dot)),
		radial-gradient(circle at 30px 14px, var(--dot)),

		radial-gradient(circle at 17px 10px, var(--dot)),
		radial-gradient(circle at 13px 17px, var(--dot)),
		radial-gradient(circle at 18px 20px, var(--dot)),

		radial-gradient(circle at 23px 22px, var(--dot)),
		radial-gradient(circle at 21px 27px, var(--dot)),
		radial-gradient(circle at 17px 30px, var(--dot)),

		radial-gradient(circle at 10px 32px, var(--icon) 0px 3px, #fff0 4px 100%), 
		radial-gradient(circle at 32px 8px, #fff0 0 1px, var(--icon) 2px 3px, #fff0 4px 100%), 
		linear-gradient(90deg, var(--pri) 41px, #fff0 0 44px, var(--pri) 45px);
}


.modal-window:after {
	--icon: var(--sec);
	content: "Photo";
	--line: linear-gradient(90deg, var(--icon) 0 100%);
	position: absolute;
	right: -20px;
	bottom: 20px;
	padding: 8px 55px 8px 10px;
	background: radial-gradient(black 1.5px, #fff0 2.5px), radial-gradient(circle at 50% 50%, #fff0 3px, var(--icon) 4px 5px, #fff0 6px 100%), var(--line), var(--line), var(--line), var(--line), linear-gradient(-90deg, var(--pri) 41px, #fff0 0 44px, var(--pri) 45px);
	background-repeat: no-repeat;
	background-size: 10px 10px, 20px 20px, 23px 2px, 23px 2px, 2px 24px, 2px 24px, 100% 100%;
	background-position: calc(100% - 8px) 10px, calc(100% - 11px) 12px, calc(100% - 9px) 9px, calc(100% - 9px) 31px, calc(100% - 7px) 9px, calc(100% - 32px) 9px, 0 0;
}

input#img-1:checked ~ .modal-window:after,
input#img-2:checked ~ .modal-window:after,
input#img-3:checked ~ .modal-window:after,
input#img-6:checked ~ .modal-window:after,
input#img-7:checked ~ .modal-window:after,
input#img-9:checked ~ .modal-window:after,
input#img-14:checked ~ .modal-window:after,
input#img-17:checked ~ .modal-window:after,
input#img-18:checked ~ .modal-window:after,
input#img-19:checked ~ .modal-window:after {
	content: "Josetxu López";
}

input#img-4:checked ~ .modal-window:after {
	content: "Fernando Bulnes";
}

input#img-5:checked ~ .modal-window:after,
input#img-12:checked ~ .modal-window:after,
input#img-13:checked ~ .modal-window:after,
input#img-15:checked ~ .modal-window:after,
input#img-20:checked ~ .modal-window:after {
	content: "Jara Mora";
}

input#img-8:checked ~ .modal-window:after {
	content: "Tximo";
}

input#img-10:checked ~ .modal-window:after {
	content: "Uge García";
}

input#img-11:checked ~ .modal-window:after,
input#img-16:checked ~ .modal-window:after {
	content: "Antonio Montes";
}







.modal-window:hover:before,
.modal-window:hover:after {
	filter: invert(1);
}